// Colors
$color-theme-primary: black;
$color-theme-secondary: white;
$color-theme-tertiary: #FF3882;
$color-status-alive: green;
$color-status-dead: red;
$color-status-unknown: grey;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
